@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

header {
    width: 100%;
    height: 90px;
    background-color: white;
    padding: 15px 80px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid rgb(63, 40, 3);
}

#logo {
    width: 350px;
    height: 70px;
    position: relative;
    left: 50px;
    top: 3px;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 70px;
    justify-content: center;
    position: relative;
    right: 50px;
    font-size: 20px;
    font-weight: 400;
}

.menu .btn {
    background: none;
    border: none;
    font-size: 18px;
    margin-top: 0;
    color: rgb(63, 40, 3);
    cursor: pointer;
}

.menu .btn:hover {
    color: rgb(130, 84, 9);
}

.login-btn {
    width: 125px;
    height: 40px;
    background-color: #462800;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.login-btn:hover {
    background-color: #5D4037;
    cursor: pointer;
}

.hero-img img {
    width: 100%;
    position: relative;
}

.hero-slogan {
    position: absolute;
    top: 40%;
    left: 21%;
    text-align: center;
    color: white;
    font-size: 70px;
}

.hero-slogan p {
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
}

.signature-foods, .story {
    padding: 60px 60px;
    margin-top: 10px;
}

.signature-foods .title {
    color: rgb(90, 39, 0);
    font-size: 50px;
    font-weight: 800;
}

.signature-foods .subtitle {
    color: rgb(44, 19, 0);
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

.signature-foods .cards {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 70px;
    margin-top: 50px;
}

.signature-foods .card {
    width: 33%;
    height: 100%;
    background-color: #F4EBE1;
    border-radius: 25px;
}

.signature-foods .card:hover {
    position: relative;
    bottom: 10px;
}

.signature-foods .item-img {
    position: relative;
}

.signature-foods .main-img {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.signature-foods .premium-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 18px;
    left: 18px;
}

.signature-foods .item-details {
    padding: 0 25px 30px 25px;
}

.signature-foods .item-details h3 {
    color: #3E2723;
    font-weight: 900;
    font-size: 25px;
}

.signature-foods .item-details p {
    margin-top: 5px;
    color: #5D4037;
    font-weight: 500;
    font-size: 18px;
}

.signature-foods .item-details .price {
    margin-top: 25px;
    font-weight: 800;
    font-size: 30px;
    color: #A66D27;
}

.story-title {
    color: rgb(90, 39, 0);
    font-size: 50px;
    font-weight: 800;
}

.story-subtitle {
    color: rgb(44, 19, 0);
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}

.story p {
    margin-top: 20px;
    font-size: 21px;
}

.story-img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 40%;
}

.story-content {
    padding-top: 10px;
    padding-right: 40px;
}

.story-img img {
    width: 550px;
    height: 300px;
    border-radius: 25px;
}

.story-area {
    display: flex;
    align-items: flex-start;
}